@model EblueWorkPlan.Models.ViewModels.ProjectFormView

@{
    ViewData["Title"] = "Page2";
}

@{
    /* Content...
    <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fa-solid fa-1" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fa-solid fa-2" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-laboratory-tab" data-bs-toggle="tab" data-bs-target="#nav-laboratory" type="button" role="tab" aria-controls="nav-laboratory" aria-selected="false"><i class="fa-solid fa-3" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-analytical-tab" data-bs-toggle="tab" data-bs-target="#nav-analytical" type="button" role="tab" aria-controls="nav-analytical" aria-selected="false"><i class="fa-solid fa-4" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-sciproject-tab" data-bs-toggle="tab" data-bs-target="#nav-sciproject" type="button" role="tab" aria-controls="nav-sciproject" aria-selected="false"><i class="fa-solid fa-5" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-otherpersonel-tab" data-bs-toggle="tab" data-bs-target="#nav-otherpersonel" type="button" role="tab" aria-controls="nav-otherpersonel" aria-selected="false"><i class="fa-solid fa-6" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-gradass-tab" data-bs-toggle="tab" data-bs-target="#nav-gradass" type="button" role="tab" aria-controls="nav-gradass" aria-selected="false"><i class="fa-solid fa-7" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-fund-tab" data-bs-toggle="tab" data-bs-target="#nav-fund" type="button" role="tab" aria-controls="nav-fund" aria-selected="false"><i class="fa-solid fa-8" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-budget-tab" data-bs-toggle="tab" data-bs-target="#nav-budget" type="button" role="tab" aria-controls="nav-budget" aria-selected="false"><i class="fa-solid fa-9" style="color: #2267dd;"></i></button>



            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">




        </div>
    */

    <partial name="_Sidebar2" />

}
<h1>Research Project  for: @Model.ProjectNumber</h1>

<h3>Fieldwork Page</h3>
<br />

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link " id="nav-details-tab" data-bs-toggle="tab" data-bs-target="#nav-details" type="button" role="tab" aria-controls="nav-details" aria-selected="false"><i class="fa-solid fa-0" style="color: #2267dd;"></i></button>
        <button class="nav-link " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true" asp-action="ProjectList" asp-controller="Projects"><i class="fa-solid fa-1" style="color: #2267dd;"></i></button>
        <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" asp-action="Page2" asp-controller="Projects"><i class="fa-solid fa-2" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-laboratory-tab" data-bs-toggle="tab" data-bs-target="#nav-laboratory" type="button" role="tab" aria-controls="nav-laboratory" aria-selected="false" asp-action="Page3" asp-controller="Projects"><i class="fa-solid fa-3" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-analytical-tab" data-bs-toggle="tab" data-bs-target="#nav-analytical" type="button" role="tab" aria-controls="nav-analytical" aria-selected="false" asp-action="Page4" asp-controller="Projects"><i class="fa-solid fa-4" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-sciproject-tab" data-bs-toggle="tab" data-bs-target="#nav-sciproject" type="button" role="tab" aria-controls="nav-sciproject" aria-selected="false" asp-action="Page5" asp-controller="Projects"><i class="fa-solid fa-5" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-otherpersonel-tab" data-bs-toggle="tab" data-bs-target="#nav-otherpersonel" type="button" role="tab" aria-controls="nav-otherpersonel" aria-selected="false" asp-action="Page6" asp-controller="Projects"><i class="fa-solid fa-6" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-gradass-tab" data-bs-toggle="tab" data-bs-target="#nav-gradass" type="button" role="tab" aria-controls="nav-gradass" aria-selected="false" asp-action="Page7" asp-controller="Projects"><i class="fa-solid fa-7" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-fund-tab" data-bs-toggle="tab" data-bs-target="#nav-fund" type="button" role="tab" aria-controls="nav-fund" aria-selected="false" asp-action="Page8" asp-controller="Projects"><i class="fa-solid fa-8" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-budget-tab" data-bs-toggle="tab" data-bs-target="#nav-budget" type="button" role="tab" aria-controls="nav-budget" aria-selected="false" asp-action="Page9" asp-controller="Projects"><i class="fa-solid fa-9" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-notes-tab" data-bs-toggle="tab" data-bs-target="#nav-notes" type="button" role="tab" aria-controls="nav-notes" aria-selected="false" asp-action="Page9" asp-controller="Projects"><i class="fa-solid fa-1" style="color: #2267dd;"></i><i class="fa-solid fa-0" style="color: #2267dd;"></i> </button>


    </div>
</nav>

<div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
        <div class="row g-3">
            <form asp-action="Page2">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ProjectId" />
                <input type="hidden" asp-for="idParameter" id="idParameter" />

                <div class="card">

                    <div class="card-header">WorkPlan - FieldWork </div>


                    <div class="card-body">

                        <div class="row">


                            <div class="col-12">
                                <label asp-for="Wfieldwork" class="control-label"></label>
                                <textarea id="wfieldwork" asp-for="Wfieldwork" rows="3" class="form-control txt-wfieldwork"></textarea>
                                <span asp-validation-for="Wfieldwork" class="text-danger"></span>
                            </div>

                            <div class="col-6">
                                <label asp-for="Area" class="control-label"></label>
                                <input asp-for="Area" class="form-control txt-area" />
                                <span asp-validation-for="Area" class="text-danger"></span>
                            </div>
                            
                            <div class="col-6">
                                <label asp-for="LocationId" class="control-label"></label>
                                <select asp-for="LocationId" class="form-control" asp-items="ViewBag.locationsItems"></select>
                            </div>
                            <div class="col6">
                                <label asp-for="DateStarted" class="control-label"></label>
                                <input asp-for="DateStarted" class="form-control dateStr" />
                                <span asp-validation-for="DateStarted" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DateEnded" class="control-label"></label>
                                <input asp-for="DateEnded" class="form-control dateEnd" />
                                <span asp-validation-for="DateEnded" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input checkIn" asp-for="InProgress" /> @Html.DisplayNameFor(model => model.InProgress)
                                </label>
                            </div>

                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input  class="form-check-input checkToBe" asp-for="ToBeInitiated" /> @Html.DisplayNameFor(model => model.ToBeInitiated)
                                </label>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Add" class="btn btn-primary" />
                                <input type="button" value="Save" class="btn btn-success btn-save" style="display: none" />
                            </div>


                        </div>

                    </div>

                            <div class="card-footer">

                                <div class="btn btn-primary col align-content-center"><a asp-action="ProjectList" asp-controller="Projects" asp-route-id="@Model.ProjectId" style="text-decoration:none; color:white;">Back</a></div>




                                <div class="btn btn-primary col align-content-end"><a  asp-action="Page3" asp-controller="Projects" asp-route-id="@Model.ProjectId" style="text-decoration:none; color:white;">Next</a></div>

                            </div>
                    
                </div>
            </form>
        </div>

    </div>

   

    <br />


    <table class="table table-bordered" id ="fieldTable">
        <thead>
            <h1 class="fieldId" style="display:none" class="field-id">@Model.FieldWorkId </h1>
            <tr>
                
                <th>
                    @Html.DisplayNameFor(model => model.FieldWorkId)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Wfieldwork)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Area)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.DateStarted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateEnded)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InProgress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToBeInitiated)
                </th>
                <th>
                    Location
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.fieldsWork)
            {
                <tr>
                    <td class="FieldId">
                        @Html.DisplayFor(modelItem => item.FieldWorkId)
                    </td>


                    <td class="Wfieldwork">
                        @Html.DisplayFor(modelItem => item.Wfieldwork)
                    </td>
                    <td class="area">
                        @Html.DisplayFor(modelItem => item.Area)
                    </td>


                    <td class="dateStarted">
                        @Html.DisplayFor(modelItem => item.DateStarted)
                    </td>
                    <td class="dateEnded">
                        @Html.DisplayFor(modelItem => item.DateEnded)
                    </td>
                    <td class="inProgress">
                        @Html.DisplayFor(modelItem => item.InProgress)
                    </td>
                    <td class="tobeIniciated">
                        @Html.DisplayFor(modelItem => item.ToBeInitiated)
                    </td>
                    <td class="location">
                        @Html.DisplayFor(modelItem => item.Location.LocationName)
                    </td>
                    <td class="projectid">
                        @Html.DisplayFor(modelItem => item.Project.ProjectId)
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-4">
                                <div class=" btn  btn-success modify" style="padding:0,2px; " data-bs-toggle="modal" data-bs-target="#exampleModal" >Modify</div>

                            </div>
@*                            <div class="col-4">

                                <div class="btn btn-danger hide" style="padding:0,2px;">Delete </div>
                            </div>*@
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>


@section scripts{
    <script type="text/javascript">

        


        const table = document.getElementById('fieldTable');
        const textarea = document.querySelector('textarea');
        const select = document.querySelector('select');
        const dateStr = document.getElementsByClassName('dateStr');
        const dateEnd = document.getElementsByClassName('dateEnd');
        const checkIn = document.getElementsByClassName('checkIn');
        const checkToBe = document.getElementsByClassName('checkToBe');
        const saveBtn = document.getElementsByClassName('saveBtn');
        const idParameter = document.getElementsByClassName('idParameter');
        table.addEventListener('click',(e) =>{

           
            const id = e.target.parentElement.parentElement.parentElement.parentElement.children[0].textContent
            const datafield = parseInt(id,10);
            console.log(id)

        })
        
        const fillData = (data) => {
            

        }


       
       
                




    </script>


}
                            