@model EblueWorkPlan.Models.ViewModels.ProjectFormView
@{
    ViewData["Title"] = "ProjectList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_Sidebar2" />


<h1>Research Project for: @Model.ProjectNumber</h1>

<h2>ProjectList Page </h2>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link" id="nav-details-tab" data-bs-toggle="tab" data-bs-target="#nav-details" type="button" role="tab" aria-controls="nav-details" aria-selected="false"><i class="fa-solid fa-0" style="color: #2267dd;"></i></button>
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fa-solid fa-1" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fa-solid fa-2" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-laboratory-tab" data-bs-toggle="tab" data-bs-target="#nav-laboratory" type="button" role="tab" aria-controls="nav-laboratory" aria-selected="false"><i class="fa-solid fa-3" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-analytical-tab" data-bs-toggle="tab" data-bs-target="#nav-analytical" type="button" role="tab" aria-controls="nav-analytical" aria-selected="false"><i class="fa-solid fa-4" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-sciproject-tab" data-bs-toggle="tab" data-bs-target="#nav-sciproject" type="button" role="tab" aria-controls="nav-sciproject" aria-selected="false"><i class="fa-solid fa-5" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-otherpersonel-tab" data-bs-toggle="tab" data-bs-target="#nav-otherpersonel" type="button" role="tab" aria-controls="nav-otherpersonel" aria-selected="false"><i class="fa-solid fa-6" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-gradass-tab" data-bs-toggle="tab" data-bs-target="#nav-gradass" type="button" role="tab" aria-controls="nav-gradass" aria-selected="false"><i class="fa-solid fa-7" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-fund-tab" data-bs-toggle="tab" data-bs-target="#nav-fund" type="button" role="tab" aria-controls="nav-fund" aria-selected="false"><i class="fa-solid fa-8" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-budget-tab" data-bs-toggle="tab" data-bs-target="#nav-budget" type="button" role="tab" aria-controls="nav-budget" aria-selected="false"><i class="fa-solid fa-9" style="color: #2267dd;"></i></button>
         <button class="nav-link" id="nav-notes-tab" data-bs-toggle="tab" data-bs-target="#nav-notes" type="button" role="tab" aria-controls="nav-notes" aria-selected="false" asp-action="Page9" asp-controller="Projects"><i class="fa-solid fa-1" style="color: #2267dd;"></i><i class="fa-solid fa-0" style="color: #2267dd;"></i> </button>


    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
        <div class="row g-3">
            <form asp-action="ProjectList">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ProjectId" />
                <div class="card">

                    <div class="card-header"> Project Number : @Html.DisplayFor(modelItem => modelItem.ProjectNumber) </div>


                    <div class="card-body">

                        <div class="row">
                            <div class="col-12">
                                <label asp-for="Objectives" class="control-label"></label>
                                <textarea asp-for="Objectives" rows="3"  class="form-control" ></textarea>
                                @*<select  asp-validation-for="Objectives" class="text-danger"></select>*@
                            </div>
                        </div>


                        <br>

                        <div class="row">
                            <div class="col-12">
                                <label asp-for="ObjWorkPlan" class="control-label"></label>
                                <textarea asp-for="ObjWorkPlan" rows="3"  class="form-control" ></textarea>
                                <span asp-validation-for="ObjWorkPlan" class="text-danger"></span>
                            </div>
                        </div>

                       
                        <br>



                        <div class="row">
                            <div class="col-12">
                                <label asp-for="PresentOutlook" class="control-label"></label>
                                <textarea asp-for="PresentOutlook" rows="3"  class="form-control" ></textarea>
                                <span asp-validation-for="PresentOutlook" class="text-danger"></span>
                            </div>
                        </div>

                        <br>
                        <div class="form-group">
                            <input type="submit" value="Add" class="btn btn-primary" />
                            
                        </div>






                    </div>


                    
                            <div class="card-footer">
                                <div class="btn btn-primary col align-content-center"><a asp-action="Page0" asp-controller="Projects" asp-route-id="@Model.ProjectId" style="text-decoration:none; color:white;">Back</a></div>
                               
                                <div class="btn btn-primary col align-content-end"><a  asp-action="Page2" asp-controller="Projects" asp-route-id="@Model.ProjectId" style="text-decoration:none; color:white;">Next</a></div>

                            </div>


                    

                </div>
                
            </form>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Objectives)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ObjWorkPlan)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PresentOutlook)
                        </th>
                        
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                   
                        <tr>
                            <td>
                            @Html.DisplayFor(modelItem => modelItem.Objectives)
                            </td>
                            <td>
                            @Html.DisplayFor(modelItem => modelItem.ObjWorkPlan)
                            </td>
                            <td>
                            @Html.DisplayFor(modelItem => modelItem.PresentOutlook)
                            </td>
                            
                            <td>
                                <div class="row">
                                    <div class="col-4">
                                        <div class=" btn  btn-success" style="padding:0,2px;">Modify</div>

                                    </div>
                                    
                                </div>
                            </td>
                        </tr>
                    
                </tbody>
            </table>

        </div>
    </div>
    
 </div>


@section scripts{


@*<script>
    $(document).ready(function(){
        $('#pageUpdate').on('submit',function(e){
            e.preventDefault();
            $.ajax({
                url:`/ProjectList/${}`
            
            });

        })    
    });
</script>


*@



}