@model IEnumerable<EblueWorkPlan.Models.Roster>

@{
    ViewData["Title"] = "Index";
}

<partial name="_Sidebar2" />


<h1>Index</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table id="templateTable" class="table table-bordered">
    <thead>
        <tr>
            <th>
               Investigator SecSoc
            </th>
            <th>
               Investigator Name
            </th>

            <th>
                Email
            </th>

            <th>
               Department
            </th>
            <th>
                Location Or Region
            </th>
            <th>
               Can be PI
            </th>
           
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RosterSegSoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RosterName)
            </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>


            <td>
                @Html.DisplayFor(modelItem => item.DepartmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanBePi)
            </td>
           
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.RosterId">Edit</a> |
                
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.RosterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section scripts{

    <script>
        

        $(document).ready(function (){
            $('#templateTable').DataTable();


        })
    </script>





}