@model IEnumerable<EblueWorkPlan.Models.ProgramArea>

@{
    ViewData["Title"] = "Index";
}

<partial name="_sidebar2"/>

<h1>Index</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProgramAreaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProgramAreaOldId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RosterProgragmaticCoordinatorId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramAreaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramAreaOldId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RosterProgragmaticCoordinatorId)
            </td>
            <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ProgramAreaId">Edit</a> |
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.ProgramAreaId">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ProgramAreaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
